<%- include("header", {tab: "home" , title: "Trang chủ" }); %>
    <!-- BEGIN: Content -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div class="report-box-3 report-box-3--content grid grid-cols-12 gap-6 xl:-mt-5 xxl:-mt-8 -mb-10 z-40 xxl:z-10" style="padding-bottom: 20px;">
        <div class="col-span-12">
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12 xxl:col-span-12">
                    <div class="grid grid-cols-12 gap-6">
                        <!-- BEGIN: General Report -->
                        <% for(let i = 0 ; i < object.length ; i++){ %>
                            <div class="col-span-12 mt-8">
                                <div class="intro-y flex items-center h-10">
                                    <h2 class="text-lg font-medium truncate mr-5">
                                        Cấp
                                        <%- object[i].level%>
                                    </h2>
                                </div>
                                <div class="grid grid-cols-12 gap-6 mt-5">
                                    <a class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                                        <div class="report-box zoom-in h-full">
                                            <div class="box p-5 h-full">
                                                <div class="flex">
                                                    <i data-feather="activity" class="report-box__icon text-theme-10"></i>
                                                </div>
                                                <div id="counter_posts_jobs" class="text-3xl font-medium leading-8 mt-6">
                                                    <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">
                                                        <%- object[i].city%>
                                                    </div>
                                                </div>
                                                <div class="text-base text-gray-600 mt-1">Tỉnh / Thành phố</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                                        <div class="report-box zoom-in h-full">
                                            <div class="box p-5 h-full">
                                                <div class="flex">
                                                    <i data-feather="activity" class="report-box__icon text-theme-10"></i>
                                                </div>
                                                <div id="counter_posts_sell_salons" class="text-3xl font-medium leading-8 mt-6">
                                                    <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">
                                                        <%- object[i].district%>
                                                    </div>
                                                </div>
                                                <div class="text-base text-gray-600 mt-1">Quận / Huyện</div>
                                            </div>
                                        </div>
                                    </a>

                                    <a class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                                        <div class="report-box zoom-in h-full">
                                            <div class="box p-5 h-full">
                                                <div class="flex">
                                                    <i data-feather="activity" class="report-box__icon text-theme-10"></i>
                                                </div>
                                                <div id="counter_nail_supplies" class="text-3xl font-medium leading-8 mt-6">
                                                    <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">
                                                        <%- object[i].sub_district%>
                                                    </div>
                                                </div>
                                                <div class="text-base text-gray-600 mt-1">Phường / Xã</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <%}%>

                                <!-- END: General Report -->
                                <!-- BEGIN: Sales Report -->

                    </div>
                </div>
            </div>
        </div>



        <!-- END: Content -->
    </div>
    <!-- END: Content -->

    </div>
    <!-- BEGIN: SCRIPT -->


    <script>
        $('#draw_1').addClass('side-menu--active')
    </script>

    <!-- END: SCRIPT -->
    <%- include("footer"); %>