<html>

<head>
    <meta charset="utf-8">
    <title>Infinity Technology</title>
    <link rel="shortcut icon" href="./../../public/images/icon.png">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=" author" content="Infinity ltd | Phòng khám An Bình">

    <script type="text/javascript" src="./../../../../../../public/javascripts/qrcode.min.js"></script>
    <script src="./../../public/javascripts/jquery.min.js"></script>
    <script src="./../../public/javascripts/helper.js"></script>

</head>
<style>
    html {
        transform: scale(0.45);
        transform-origin: top left;
    }

    .container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
    }
</style>

<body style="font-size: 4.2mm;margin: 0;">

    <div class="container" style="width: 210mm;padding: 15mm;height:287mm;position: relative;">
        <div>
            <div style="display: flex;gap: 2mm;">
                <div style="flex: 1;">
                    <div style="text-align: center;">
                        SỞ Y TẾ BẮC GIANG
                    </div>
                    <div style="font-style: italic;text-align: center;">
                        (Bac Giang Department of Health)
                    </div>

                    <div style="text-align: center;font-weight: bold;">
                        PHÒNG XÉT NGHIỆM AN BÌNH
                    </div>
                    <div style="font-style: italic;text-align: center;">
                        (An Binh Molecular Biology Lab)
                    </div>

                    <div
                        style="border-bottom: 1px solid black;margin-right: 30%;margin-left: 30%;margin-bottom: 2mm;padding-bottom: 2mm;">

                    </div>

                </div>

                <div style="flex: 1;">
                    <div style="text-align: center;font-weight: bold;">
                        CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                    </div>
                    <div style="font-style: italic;text-align: center;">
                        (Socialist Republic of Vietnam)
                    </div>

                    <div style="text-align: center;font-weight: bold;">
                        Độc lập - Tự do - Hạnh phúc
                    </div>
                    <div style="font-style: italic;text-align: center;">
                        (Independence - Freedom - Happiness)
                    </div>

                    <div
                        style="border-bottom: 1px solid black;margin-right: 30%;margin-left: 30%;margin-bottom: 2mm;padding-bottom: 2mm;">

                    </div>
                </div>
            </div>

            <div style="display: flex;gap: 10px;">
                <div style="flex: 1;">
                    <img style="width: 100%;" id="imgIcon" src="./../public/images/logo-byt.png">
                </div>

                <div
                    style="flex: 5;justify-content: center;flex: 5;display: flex;align-items: center;flex-direction: column;">

                    <div
                        style="font-weight: bold;font-size: 7mm;;line-height: 21px;text-align: center;margin-top: 12mm;">
                        PHIẾU TRẢ LỜI KẾT QUẢ XÉT NGHIỆM
                    </div>

                    <div style="font-size: 6.6mm;line-height: 25px;text-align: center;margin-top: 1mm;">
                        CERTIFICATE OF TESTING FOR SARS-COV-2
                    </div>

                </div>

                <div style="flex: 1;">
                    <div id="id_qrcode"></div>
                </div>
            </div>

            <div style="margin-left: 8mm;margin-right: 8mm;">
                <div style="margin-top: 7mm;display: flex;gap: 10px;">
                    <div style="flex: 1;">
                        <span>Họ và tên <span style="font-style: italic;">(Full name)</span>:</span><span
                            style="font-weight: bold;margin-left: 1mm;"><%- object.name%></span>
                    </div>

                    <div style="flex: 1;">
                        <span>Giới tính <span style="font-style: italic;">(Gender)</span>:</span><span
                            style="margin-left: 1mm;"><%- object.gender%>/</span><span
                            style="font-style: italic;">(<%- (object.gender == 'Nam' ? 'Male' : 'Female')%>)</span>
                    </div>
                </div>

                <div style="display: flex;gap: 10px;margin-top: 2mm;">
                    <div style="flex: 1;">
                        <span>Năm sinh <span style="font-style: italic;">(Date of Birth)</span>:</span><span
                            style="font-weight: bold;margin-left: 1mm;"><%- object.date_of_birth%></span>
                    </div>

                    <div style="flex: 1;">
                        <span>Quốc tịch <span style="font-style: italic;">(Nationality)</span>:</span><span
                            style="margin-left: 1mm;">Việt Nam</span>
                    </div>
                </div>

                <div style="display: flex;gap: 10px;margin-top: 2mm;">
                    <div style="flex: 1;">
                        <span>Điện thoại <span style="font-style: italic;">(Phone)</span>:</span><span
                            style="font-weight: bold;margin-left: 1mm;"><%- object.phone%></span>
                    </div>

                    <div style="flex: 1;">
                        <span>CCCD/Hộ chiếu <span style="font-style: italic;">(ID/Passport)</span>:</span><span
                            style="margin-left: 1mm;"><%- object.identity%></span>
                    </div>
                </div>


                <div style="display: flex;margin-top: 2mm;">
                    <span>Địa chỉ <span style="font-style: italic;">(Address)</span>:</span>
                    <div>
                        <div style="margin-left: 1mm;">
                            <%- object.address%>,
                            <%- object.sub_district%>,
                            <%- object.district%>,
                            <%- object.city%>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 2mm;">
                    <span>Đơn vị lấy mẫu <span style="font-style: italic;">(Specimen Collected By)</span>:</span><span
                        style="margin-left: 1mm;">Phòng xét nghiệm An Bình </span><span style="font-style: italic;">(An
                        Binh Molecular Biology Lab)</span>
                </div>

                <div style="margin-top: 5mm;">
                    &emsp;&emsp;Chứng thực các kết quả sau đây đã được xác nhận bằng việc tiến hành xét nghiệm Covid-19
                    với mẫu lấy từ người nêu trên.
                </div>

                <div style="margin-top: 2mm;font-style: italic;">
                    &emsp;&emsp;(This is to certify the following results which have been confirmed by testing for
                    COVID-19 conducted with the sample taken from the above-mentionned person).
                </div>

                <table style="width: 100%;margin-top: 5mm;border-collapse: collapse;">
                    <tbody>
                        <tr style="text-align: center;">
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Bệnh phẩm thu thập<br><span
                                    style="font-style: italic;">(Type of sample)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Lần lấy mẫu<br><span
                                    style="font-style: italic;">(No of Collection)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Ngày/giờ lấy mẫu<br><span
                                    style="font-style: italic;">(Date/time of Collection)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Tình trạng mẫu sau khi
                                nhận<br><span style="font-style: italic;">(Sample Status)</span></td>
                        </tr>
                        <tr style="text-align: center;">
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Dịch tỵ hầu<br><span
                                    style="font-style: italic;">(Nasopharyngeal Swab)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">01</td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;" id="time_date_collection"></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;"><span
                                    style="font-weight: bold;">Đạt</span><br><span
                                    style="font-style: italic;">(Qualified)</span></td>
                        </tr>
                    </tbody>
                </table>

                <div style="margin-top: 5mm;">
                    <span style="font-weight: bold;">Kết quả xét nghiệm</span> <span style="font-style: italic;">(Lab
                        Result)</span>:
                </div>
                <table style="width: 100%;margin-top: 2mm;border-collapse: collapse;">
                    <tbody>
                        <tr style="text-align: center;">
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Mã bệnh phẩm xét nghiệm<br><span
                                    style="font-style: italic;">(Sample ID)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Phương pháp xét nghiệm<br><span
                                    style="font-style: italic;">(Method)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Lần xét nghiệm<br><span
                                    style="font-style: italic;">(Nº of testing)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Ngày thực hiện<br><span
                                    style="font-style: italic;">(Date of testing)</span></td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Kết quả<br><span
                                    style="font-style: italic;">(Result)</span></td>
                        </tr>
                        <tr style="text-align: center;">
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">
                                <%- object.barcode%>
                            </td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">Realtime RT-PCR</td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">01</td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;">
                                <%- object.date_testing.split(' ')[0]%>
                            </td>
                            <td style="border: 1px solid black;margin: 0;padding: 2mm;"><span
                                    style="font-weight: bold;">Âm tính</span><br><span
                                    style="font-style: italic;">(Negative)</span></td>
                        </tr>
                    </tbody>
                </table>

                <div style="margin-top: 2mm;">
                    <span style="font-weight: bold;">Kết luận</span> <span
                        style="font-style: italic;">(Conclusion)</span>:<span
                        style="font-weight: bold;margin-left: 1mm;">Âm tính</span><span
                        style="margin-left: 1mm;"><i>(Negative to Virus Sars-CoV-2)</i> </span>
                </div>
            </div>



            <div class="responsive" style="margin: 1.4rem auto auto auto;">

                <div style="margin-top: 2mm;display:flex">
                    <div style="text-align: center;flex: 1;">
                        <div>
                            Ngày/giờ trả kết quả:
                            <span id="date_left_vi"></span>
                        </div>
                        <div style="font-style: italic;">
                            Result Date: <span id="date_left_en"></span>
                        </div>
                    </div>

                    <div style="text-align: center;flex: 1;">
                        <div>
                            Bắc Giang, <span id="date_right_vi"></span>
                        </div>
                        <div style="font-style: italic;">
                            Bac Giang, <span id="date_right_en"></span>
                        </div>
                    </div>

                </div>

                <div style="display:flex;margin-top: 3mm;">
                    <div style="text-align: center;flex: 1;">
                        <div style="font-weight: bold;">
                            Chịu trách nhiệm xét nghiệm
                        </div>
                        <div style="font-style: italic;">
                            (Testing Technician)
                        </div>
                    </div>

                    <div style="text-align: center;flex: 1;">
                        <div style="font-weight: bold;">
                            Lãnh đạo đơn vị
                        </div>
                        <div style="font-style: italic;">
                            (Head of Laboratory)
                        </div>
                    </div>

                </div>

                <div id="label_mobile" style="margin-top: 40mm;display:flex">
                    <div style="text-align: center;flex: 1;">
                        <div style="font-weight: bold;">
                            CNXN. Phạm Thị Nhuần
                        </div>
                    </div>

                    <div style="text-align: center;flex: 1;">
                        <div style="font-weight: bold;">
                            Nguyễn Văn Lợi
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div style="page-break-inside:avoid;page-break-after:always"></div>
    </div>


    <script>
        new QRCode("id_qrcode", {
            text: 'https://tracuu.phongkhamdakhoaanbinh.vn/profile/' +
                '<%- object.barcode%>_<%- object.phone%>',
            width: document.getElementById("id_qrcode").offsetWidth,
            height: document.getElementById("id_qrcode").offsetWidth,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        })
        $('#date_left_vi').html(formatDateFormProfileVI('<%- object.date_testing%>'))
        $('#date_left_en').html(formatDateFormProfileEN('<%- object.date_testing%>'))
        $('#date_right_vi').html(formatDateFormProfileResultVI('<%- object.date_testing%>'))
        $('#date_right_en').html(formatDateFormProfileResultEN('<%- object.date_testing%>'))
        $('#time_date_collection').html(getTimeAMPM('<%- object.date_collection%>') + '<br>' +
            "<%- object.date_collection.split(' ')[0]%>")


        // if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        //     $('#label_mobile').css("margin-top", "30mm");
        // }
    </script>

</body>

</html>